# Homebrew
{{- if eq .chezmoi.os "darwin" }}
{{-   if eq .chezmoi.arch "arm64" }}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{-   else }}
eval "$(/usr/local/bin/brew shellenv)"
{{-   end }}
{{- else }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{- end }}

# OrbStack shell integration (if installed)
source ~/.orbstack/shell/init.zsh 2>/dev/null || :
